.cl {
    color: red;
}

p {
    padding: -20px;
    padding-top: 21px;
    position: bottom;
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin: 5px;
}

.p1 {
    background: #BCBCBC;
    color: dark;
}

.p2 {
    background: #BAF5C4;
    color: green;
}

.p3 {
    background: #E0E0E0;
    color: #606060;
}

.p4 {
    background: #FFFF99;
    color: #999900;
}

.p5 {
    background: #FAA5A5;
    color: #C05757;
}