<!DOCTYPE html>
<html>
    <head>
        <link href="./static/style.css" rel="stylesheet"/>
        <title>Page Title</title>
    </head>
    <body>
        <h1 class="cl">Жди нас, Марс!</h1>
        <img src="./static/mars.png" alt="Image" height="350" width="350"/>
        <p class="p1">Человечество вырастает из детства.</p>
        <p class="p2">Человечеству мала одна планета.</p>
        <p class="p3">Мы сделаем обитаемыми безжизненные пока планеты.</p>
        <p class="p4">И начнем с Марса!</p>
        <p class="p5">Присоединяйся!</p>
    </body>
</html>